.styledBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2.4rem;

    .styledBoxContent {
        border: 1px solid var(--light-outline-box-color);
        background-color: var(--boxed-fill-color1);
        padding: 0.4rem 0.6rem;
        border-radius: 2px;
        height: 100%;

        .styledBoxHeadContainer {
            position: relative;

            .styledBoxTitle, .styledBoxBtns, .styledBoxCheckbox {
                font-size: 1rem;
                position: absolute;
                top: -1.2rem;
            }

            .styledBoxTitle {
                left: 0;
                color: white;
                padding: 0.1rem 0.6rem;
                border-top-left-radius: 8px;
                border-bottom-right-radius: 6px;
            }

            .styledBoxBtns, .styledBoxCheckbox {
                right: 0;
                display: flex;
            }

            .styledBoxBtns {
                gap: 0.15rem;
                
                button {
                    border: none;
                    background-color: var(--styledbox-arrow-nav-fill-color);
                    color: var(--styledbox-arrow-nav-text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        margin: 0.4rem 0.4rem;
                    }
                }

                button:nth-child(1) {
                    border-top-left-radius: 6px;
                }
                button:nth-child(2) {
                    border-top-right-radius: 6px;
                }
            }

            .styledBoxCheckbox {
                border: none;
                background-color: var(--styledbox-checkbox-background-color);
                color: var(--styledbox-checkbox-text-label-color);
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                padding: 0.3rem 0.6rem;
                font-size: 0.8em;

                label {
                    margin-left: 0.4rem;                    
                }
            }

            .blueStyledBox { background-color: color-mix(in srgb, var(--blue-color) 90%, var(--background-color)); }
            .redStyledBox { background-color: color-mix(in srgb, var(--red-color) 90%, var(--background-color)); }
            .greenStyledBox { background-color: color-mix(in srgb, var(--green-color) 85%, var(--background-color)); }
            .orangeStyledBox { background-color: color-mix(in srgb, var(--orange-color) 90%, var(--background-color)); }
            .purpleStyledBox { background-color: color-mix(in srgb, var(--purple-color) 75%, var(--background-color)); }
            .brownStyledBox { background-color: color-mix(in srgb, var(--brown-color) 75%, var(--background-color)); }
            .turquoiseStyledBox { background-color: color-mix(in srgb, var(--turquoise-color) 90%, var(--background-color)); }
            .grayStyledBox { background-color: color-mix(in srgb, var(--gray-color) 100%, var(--background-color)); }
            
        }
    }

    .styledBoxWithPadding {
        padding-top: 1rem;
        padding-bottom: 0.4rem;
    }

}
