
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2.4rem;


    .delegation {
        border: 1px solid var(--light-outline-box-color);
        background-color: var(--boxed-fill-color2);
        padding: 0.4rem 0.6rem;
        border-radius: 2px;

        .message {
            padding: 1rem;
            padding-top: 0.6rem;
        }

        .blockTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .textTitle, .textAdd {
                font-size: 1rem;
                position: relative;
                top: -1.2rem;
            }
            .textTitle {
                background-color: var(--orange-color);
                color: white;
                padding: 0.1rem 0.6rem;
                border-top-left-radius: 8px;
                border-bottom-right-radius: 6px;
            }
            .textAdd {
                display: flex;
                gap: 0.15rem;
                
                button {
                    border: none;
                    background-color: var(--arrow-nav-fill-color);
                    color: var(--arrow-nav-text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        margin: 0.4rem 0.4rem;
                    }
                }

                button:nth-child(1) {
                    border-top-left-radius: 6px;
                }
                button:nth-child(2) {
                    border-top-right-radius: 6px;
                }
            }
        }

        .jailed, .active {
            font-size: 0.7rem;
            color: white;
            border-radius: 8px;
            font-weight: 600;
            margin-left: 0.4rem;
            position: relative;
            top: -0.15rem;
        }
        .jailed {
            padding: 0.1rem 0.4rem 0.2rem 0.5rem;
            background-color: var(--red-color);
        }
        .active {
            padding: 0.1rem 0.4rem 0.2rem 0.4rem;
            background-color: var(--green-color);
        }
        
        .coinContainer {
            display: grid;
            gap: 1rem;
            padding-top: 1.4rem;

            // grid-template-columns: repeat(6, 1fr);
            // @media (max-width: 1280px) {
                grid-template-columns: repeat(5, 1fr);
                @media (max-width: 1100px) {
                    grid-template-columns: repeat(4, 1fr);
                    @media (max-width: 680px) {
                        gap: 0.6rem;
                        padding-top: 0.6rem;
                        grid-template-columns: repeat(3, 1fr);
                        @media (max-width: 480px) {
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }
            // }

            .coin {
                border: 1px solid var(--light-outline-box-color);
                background-color: var(--boxed-fill-color3);
                padding: 0.4rem 0.6rem;
                border-radius: 2px;

                .coinImageAndLabel {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 0.9rem;
                    border-bottom: 1px solid var(--light-outline-box-color);
                    padding-bottom: 0.4rem;

                    img {
                        width: 1.6rem;
                        padding-right: 0.4rem;
                    }
                }

                .coinValue {
                    padding-top: 0.4rem;
                    text-align: right;
                    font-size: 0.9rem;
                }
            }
        }

        .showhide {
            font-size: 0.8rem;
            color: var(--link-color);
            cursor: pointer;
            padding-left: 0.4rem;
            padding-top: 0.4rem;
        }

    }

}