@import '../../style/variables';


.tblTransactions {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tbody tr {
        border-top: 1px solid var(--light-outline-box-color);
    }
    
    td, th {
        padding: 0.2rem 0.2rem;
        font-size: 0.9rem;
        text-align: left;

        @media (max-width: $primary-breakpoint) {
            font-size: 0.8rem;        
            @media (max-width: 480px) {
                font-size: 0.7rem;
            }
        }            
    }

    td:nth-child(3), th:nth-child(3) {
        text-align: right;
    }

    td:nth-child(4), th:nth-child(4) {
        text-align: center;
    }

    .amounts {
        span {
            font-weight: normal;
        }
    }

    .view {
        font-size: 1rem;
        svg {
            margin-top: 0.4rem;
        }
    }

}
