
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;


    .undelegation {
        border: 1px solid var(--light-outline-box-color);
        background-color: var(--boxed-fill-color2);
        padding: 0.4rem 0.6rem;
        border-radius: 2px;

        .blockTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .textTitle, .textAdd {
                font-size: 1rem;
                position: relative;
                top: -1.2rem;
            }
            .textTitle {
                background-color: var(--violet-color);
                color: white;
                padding: 0.1rem 0.6rem;
                border-top-left-radius: 8px;
                border-bottom-right-radius: 6px;
            }
            .textAdd {
                display: flex;
                gap: 0.15rem;
                
                button {
                    border: none;
                    background-color: var(--arrow-nav-fill-color);
                    color: var(--arrow-nav-text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        margin: 0.4rem 0.4rem;
                    }
                }

                button:nth-child(1) {
                    border-top-left-radius: 6px;
                }
                button:nth-child(2) {
                    border-top-right-radius: 6px;
                }
            }
        }

        .fromValidator {
            padding-bottom: 0.8rem;
        }

        .releaseDatetime {
            padding-left: 1.4rem;
            padding-bottom: 0.6rem;
            font-size: 0.7em;
            font-weight: 400;
        }

        .jailed, .active {
            font-size: 0.7rem;
            color: white;
            border-radius: 8px;
            font-weight: 600;
            margin-left: 0.4rem;
            position: relative;
            top: -0.15rem;
        }
        .jailed {
            padding: 0.1rem 0.4rem 0.2rem 0.5rem;
            background-color: var(--red-color);
        }
        .active {
            padding: 0.1rem 0.4rem 0.2rem 0.4rem;
            background-color: var(--green-color);
        }
        
    }

}