@import '../../style/variables';

.transactionsBlock {
    grid-area: transactions;
}

.tblTransactions {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead tr {
        background-color: var(--head-table-line-fill-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--even-table-line-fill-color);
    }
    
    td, th {
        padding: 0.2rem 0.2rem;
        font-size: 0.9rem;

        @media (max-width: $primary-breakpoint) {
            font-size: 0.8rem;
            .smallPart { font-size: 0.7rem; }

            @media (max-width: 480px) {
                font-size: 0.7rem;
                .smallPart { font-size: 0.6rem; }
            }
        }
    }

    td:nth-child(3) {
        word-break: break-all;
    }
}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
    text-align: center;
}