@import '../../style/variables';

.delegationsBlock {
    grid-area: undelegations;
}

.tblDelegations {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead tr {
        background-color: var(--head-table-line-fill-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--even-table-line-fill-color);
    }
    
    td, th {
        padding: 0.2rem 0.2rem;
        font-size: 0.9rem;
        .smallPart { font-size: 0.7rem; }
        text-align: right;

        @media (max-width: $primary-breakpoint) {
            font-size: 0.8rem;
            .smallPart { font-size: 0.4rem; }
        }
    }

    td:nth-child(1) {
        word-break: break-all;
        text-align: left;
    }

    th:nth-child(1) {
        text-align: left;
    }


}