
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;


    .delegation {
        border: 1px solid var(--light-outline-box-color);
        background-color: var(--boxed-fill-color2);
        padding: 0.4rem 0.6rem;
        border-radius: 2px;

        .titreDelegation {
            position: relative;
            margin-bottom: 0.6rem;

            .numeroDelegation {
                font-size: 0.9rem;
                background-color: #F08000;
                color: white;
                position: absolute;
                top: -1.2rem;
                padding: 0.1rem 0.4rem;
            }
        }

        .jailed {
            font-size: 0.7rem;
            background-color: #F04040;
            color: white;
            padding: 0.1rem 0.4rem 0.2rem 0.5rem;
            border-radius: 8px;
            font-weight: 600;
        }


        
        .containerEtendu, .containerRestreint {
            display: grid;
            gap: 1rem;
            padding-top: 1rem;

            grid-template-columns: repeat(6, 1fr);
            @media (max-width: 1280px) {
                grid-template-columns: repeat(5, 1fr);
                @media (max-width: 1100px) {
                    grid-template-columns: repeat(4, 1fr);
                    @media (max-width: 680px) {
                        gap: 0.6rem;
                        padding-top: 0.6rem;
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }

            .coin {
                border: 1px solid var(--light-outline-box-color);
                background-color: var(--boxed-fill-color2);
                padding: 0.4rem 0.6rem;
                border-radius: 2px;

                .coinImageAndLabel {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 0.9rem;
                    border-bottom: 1px solid var(--light-outline-box-color);
                    padding-bottom: 0.4rem;

                    img {
                        width: 1.6rem;
                        padding-right: 0.4rem;
                    }
                }

                .coinValue {
                    padding-top: 0.4rem;
                    text-align: right;
                    font-size: 0.8rem;
                }
            }

            .otherCoins {
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                font-size: 2rem;
                padding: 0rem 1rem;
                cursor: pointer;
            }
        }


        .containerEtendu {
            @media (max-width: 480px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .containerRestreint {
            @media (max-width: 480px) {
                grid-template-columns: 2fr 2fr 1fr;
            }

            .otherCoins {
                padding: 0 0 0 0.4rem;
            }
        }

    }

}