.blocksGraphsPage {

    display: block;

    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    grid-template-areas:
        "lunctotalsupplies ustctotalsupplies"
        "nbstakedlunc stakingratio"
        "communitypool oraclepool";
    column-gap: 1rem;

    @media (min-width: 1024px) and (max-width: 1260px) {
        grid-template-columns: 100%;
        grid-template-areas:
        "lunctotalsupplies"
        "ustctotalsupplies"
        "nbstakedlunc"
        "stakingratio"
        "communitypool"
        "oraclepool";
    }
    @media (min-width: 800px) and (max-width: 1000px) {
        grid-template-columns: 48% 48%;
        grid-template-areas:
        "lunctotalsupplies ustctotalsupplies"
        "nbstakedlunc stakingratio"
        "communitypool oraclepool";
    }
    @media (max-width: 800px) {
        grid-template-columns: 100%;
        grid-template-areas:
        "lunctotalsupplies"
        "ustctotalsupplies"
        "nbstakedlunc"
        "stakingratio"
        "communitypool"
        "oraclepool";
    }

}

