@import '../../style/variables';

.blocksProposalInfos {
    padding-top: 0.4rem;
    display: grid;
    row-gap: 1.2rem;

    .h2titles {
        text-align: left;
        border-bottom: 1px solid var(--outline-box-color);
        // word-break: break-all;
        white-space: pre-wrap;
    }

    .contentDescription {
        // word-break: break-all;
        white-space: pre-wrap;
    }

    .headInfos p {
        font-size: 0.8rem;
        font-style: italic;    
    }

    .propContainer {
        overflow-x: auto;
    
        @media (max-width: $primary-breakpoint) {
            max-width: calc(100vw - 1.4rem);
        }

    }

    .tblInfos {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        
        td, th {
            padding: 0.2rem 0.2rem;
            font-size: 0.9rem;
    
            @media (max-width: $primary-breakpoint) {
                font-size: 0.8rem;
            }
        }
        
        td:nth-child(1) {
            width: 1%;
            white-space: nowrap;
            font-weight: bold;
            vertical-align: top;
        }

        .supportBar {
            display: flex;
            align-items: center;
            flex-direction: row;
            border: 1px solid var(--outline-box-color);
            font-size: 0.4rem;
        }
    }

}