@import '../../style/variables';

.blocksProposalInfos {

    .headInfos {
        padding-bottom: 1rem;

        p {
            font-size: 0.8rem;
            font-style: italic;    
        }
    }

    .tblInfos {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        
        td, th {
            padding: 0.2rem 0.2rem;
            font-size: 0.9rem;
    
            @media (max-width: $primary-breakpoint) {
                font-size: 0.8rem;
            }
        }
        
        // td:nth-child(2) {
        //     white-space: nowrap;
        //     vertical-align: top;
        // }
    }

}