@import '../../style/variables';

.blockProposals {
    grid-area: proposals;

    .tblFilters {
        width: 100%;
        border-spacing: 0.2rem;
        padding-bottom: 1rem;

        @media (max-width: 480px) {
            border-spacing: 0.1rem;
        }

        td {
            text-align: center;
            color: var(--primary-text-color-on-fill);
            background-color: var(--primary-fill);
            cursor: pointer;
            font-size: 0.8rem;
            padding: 0.4rem;

            &:hover {
                background-color: var(--secondary-fill);
            }

            @media (max-width: 480px) {
                font-size: 0.7rem;
            }
        }

        .selectedFilter {
            background-color: var(--tertiary-fill);
        }
    }


}
