@import '../../style/variables';

.blockInfos {
    grid-area: infos;

    .enteteShowHide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .ztblHide {
            margin-bottom: 0;
        }

        button {
            border: none;
            font-size: 0.8rem;
            background-color: transparent;
            margin-left: 0.8rem;
        }
    }

    .tblInfos {

        tbody tr {
            border: none;
        }

        .notes {
            padding-left: 0.4rem;
            @media (max-width: 640px) {
                padding-left: 0;
                display: block;
            }
        }        
        
        td:nth-child(2) {
            white-space: nowrap;
            vertical-align: top;
        }
    }    

}