@import '../../style/variables';

.blockInfos {
    grid-area: infos;

    .enteteShowHide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .ztblHide {
            margin-bottom: 0;
        }

        button {
            border: none;
            font-size: 0.8rem;
            background-color: transparent;
            margin-left: 0.8rem;
        }
    }

    .tblInfos {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        .notes {
            padding-left: 0.4rem;
            @media (max-width: 640px) {
                padding-left: 0;
                display: block;
            }
        }
        
        td, th {
            padding: 0.2rem 0.2rem;
            font-size: 0.9rem;
    
            @media (max-width: $primary-breakpoint) {
                font-size: 0.8rem;
            }
        }
        
        td:nth-child(2) {
            white-space: nowrap;
            vertical-align: top;
        }
    }    

}