@import '../../style/variables';

$titleSize: 2rem;
$titleBlocHeight: 6rem;

#sidebar {
    width: $sidebar-width;
    color: var(--primary-text-color-on-fill);
    background-color: var(--primary-fill);
    
    @media (max-width: $primary-breakpoint) {
        display: none;
    }
}

#sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: $titleBlocHeight;
    width: $sidebar-width;
    text-align: center;

    #sidebar-title-text {
        font-size: $titleSize;
        font-weight: 500;
        width: $sidebar-width;
        height: calc(#{$titleBlocHeight} * 0.7);
        
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: var(--primary-text-color-on-fill);
            width: inherit;
            height: inherit;

            img {
                width: calc(#{$titleSize} * 1.2);
                margin-right: 0.6rem;
            }

        }
    }

    #sidebar-title-subtext {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 400;
        width: $sidebar-width;
        letter-spacing: 0.1rem;
        font-style: italic;
        background-color: var(--secondary-fill);
        height: calc(#{$titleBlocHeight} * 0.3);
    }
    
}

#sidebar-content {
    background-color: transparent;
    position: fixed;
    top: $titleBlocHeight;
    left: 0;
    max-height: calc(100vh - #{$titleBlocHeight});
    width: calc(#{$sidebar-width} + 10px);
    overflow-y: scroll;

    ul {
        border-top: 1px solid var(--primary-text-color-on-fill);
        border-bottom: 1px solid var(--primary-text-color-on-fill);

        li {
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.5rem 0.75rem;
                color: var(--primary-text-color-on-fill);
                font-size: 1.1rem;
                
                span {
                    transition: transform .25s,-webkit-transform .25s;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 0.6rem;
                    }
                }

                &:hover span {
                    transform: translateX(10px);
                }
            }
        }

        .sidebar_content_mnu_active {
            background-color: var(--tertiary-fill);
        }
        .sidebar_content_mnu_inactive {
            background-color: var(--secondary-fill);
        }
    }

    .chainInfos {
        padding-top: 0.75rem;
        font-style: italic;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
    }
}


#sidebar-content::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
#sidebar-content::-webkit-scrollbar-thumb {
    background-color: transparent;
}
#sidebar-content:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #AAAAAA;
    border: 2px solid transparent;
    border-radius: 20px;
}

#sidebar-theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 1rem;

    svg {
        cursor: pointer;
    }
}