@import '../../style/variables';

#site {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#content {
    padding: 14px 20px;
    width: calc(100% - #{$sidebar-width} - 20px);

    @media (max-width: $primary-breakpoint) {
        width: 100%;
    }
}