@import '../../style/variables';

#site {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: $sidebar-width  calc(100% - #{$sidebar-width});
    grid-column-gap: 0;
    grid-row-gap: 0;

    max-height: 100vh;
    min-width: 360px;

    @media (max-width: $primary-breakpoint) {
        grid-template-rows: $appbar-height calc(100vh - #{$appbar-height});
        grid-template-columns: 1fr;
    }
}

#content {
   
    padding: 0.8rem 1.2rem;

    display: grid;
    grid-template-rows: min-content auto min-content;
    overflow-x: auto;
    overflow-y: auto;

    @media (max-width: $primary-breakpoint) {
        width: 100%;
    }

    main {
        max-width: 1300px;
        margin: 0 auto;
        height: 100%;
    }

}
