@import '../../style/variables';

.h3tx {
    padding-bottom: 0.8rem;

    svg {
        padding-top: 0.4rem;
        padding-right: 0.4rem;
    }
}

.tblMessages {
    tbody tr {
        border: none;
    }

    pre {
        white-space: pre-wrap;
        padding-top: 0.15rem;
    }

    td:nth-child(1) {
        width: 1%;
        white-space: nowrap;
        font-weight: bold;
        vertical-align: top;
    }

    td:nth-child(2) {
        word-break: break-all;
    }
}
