@import '../../style/variables';

.tblFilters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.2rem;
    padding-bottom: 1rem;

    @media (max-width: 480px) {
        column-gap: 0.1rem;
    }

    button {
        border: none;
        text-align: center;
        color: var(--primary-text-color-on-fill);
        background-color: var(--primary-fill);
        cursor: pointer;
        font-size: 0.8rem;
        padding: 0.4rem;
        // border-radius: 6px;

        &:hover {
            background-color: var(--secondary-fill);
        }

        @media (max-width: 480px) {
            font-size: 0.7rem;
        }
    }

    .selectedFilter {
        background-color: var(--tertiary-fill);

        &:hover {
            background-color: var(--tertiary-fill);
        }
    }
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    
    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--primary-text-color);
        padding: 0.2rem 0.4rem;
        
        &>* {
            background: none;
            color: var(--primary-text-color);
            border: none;

            font-size: 1.2rem;
            @media (max-width: var(--breakpoint)) {
                font-size: 1.1rem;
            }
        }

        input {
            width: 100%;
        }

        button {
            display: flex;
        }

    }

}

.tblValidators {

    th {
        text-align: center;
    }

    td:nth-child(1), td:nth-child(3) {
        text-align: center;
    }

    td:nth-child(2) a {
        word-break: break-word;
    }

    td:nth-child(4), td:nth-child(5) {
        text-align: right;
    }

}

.comments {
    font-size: 0.65rem;
    padding-top: 0.8rem;
    text-align: center;
}