@import '../../style/variables';

.h2validators {
    text-align: left;
    border-bottom: 1px solid var(--outline-box-color);
}

.note {
    font-size: 0.9rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--primary-text-color);
        padding: 0.2rem;

        &>* {
            background: none;
            color: var(--primary-text-color);
            border: none;

            font-size: 1.2rem;
            @media (max-width: $secondary-breakpoint) {
                font-size: 1rem;
            }
        }

        input {
            width: 100%;
        }

        button {
            display: flex;
        }

    }

    .message {
        font-style: italic;
        width: 100%;
    }
}


.tblValidators {

    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
    thead tr {
        background-color: var(--head-table-line-fill-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--even-table-line-fill-color);
    }
    
    td, th {
        padding: 0.2rem 0.1rem;
        @media (max-width: $primary-breakpoint) {
            font-size: 0.9rem;
        }
    }

    th {
        text-align: center;
    }

    td:nth-child(1), td:nth-child(3) {
        text-align: center;
    }

    td:nth-child(2) a {
        word-break: break-word;
    }

    td:nth-child(4), td:nth-child(5) {
        text-align: right;
    }

}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
    text-align: center;
}