@import '../../style/variables';

.infosBlock {
    grid-area: infos;
}

.blockInfos {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 100%;

    @media (max-width: 600px) {
        grid-template-columns: 100%;
        grid-template-rows: min-content auto;
    }

    .valLogo {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            border-radius: 50%;
            width: 140px;
            height: 140px;
            @media (max-width: 600px) {
                width: 80px;
                height: 80px;
            }
        }
    }

    .valMoniker {
        font-weight: bold;
        font-size: 1.6rem;
        padding-bottom: 0.4rem;
        @media (max-width: 600px) {
            text-align: center;
        }
    }

    .valWebsite, .valContactEmail {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        padding-bottom: 0.2rem;

        a {
            font-weight: 500;
        }

        svg {
            color: var(--secondary-text-color);
            margin-right: 0.4rem;
        }
    }

    .valAccountAddress {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        padding-bottom: 0.2rem;

        a {
            font-weight: 500;
            word-break: break-word;
        }

        svg {
            color: var(--secondary-text-color);
            margin-right: 0.4rem;
        }
    }

    .valDescription {
        padding-top: 1rem;
        color: var(--secondary-text-color);
        word-break: break-word;
    }

    .valStatus {
        padding-top: 1rem;
    }

}
