@import '../../style/variables';

.detailsBlock {
    grid-area: details;
}

.tblDetails {
    
    .smallPart { font-size: 0.7rem; }
    @media (max-width: $primary-breakpoint) {
        .smallPart { font-size: 0.4rem; }
    }

    tbody tr {
        border: none;
    }

    td:nth-child(1) {
        white-space: nowrap;
        font-weight: bold;
    }

    td:nth-child(2), td:nth-child(3) {
        text-align: right;
        word-break: break-all;
    }

}