@import '../../style/variables';

.otherTopDelegatorsBlock {
    grid-area: topdelegators;
}

.tblTopDelegators {

    display: block;
    height: 360px;
    overflow-y: scroll;

    .smallPart { font-size: 0.7rem; }
    @media (max-width: $primary-breakpoint) {
        .smallPart { font-size: 0.4rem; }
    }

    th {
        text-align: center;
    }

    td:nth-child(1) {
        width: 100%;
        text-align: left;
        word-break: break-all;
    }
    
    td:nth-child(2) {
        text-align: right;
        white-space: nowrap;
    }

    td:nth-child(3) {
        text-align: right;
    }
}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
    text-align: center;
}