@import '../../style/variables';

.detailsBlock {
    grid-area: details;
}

.tblDetails {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
    td, th {
        padding: 0.2rem 0.2rem;
        font-size: 0.9rem;
        .smallPart { font-size: 0.7rem; }

        @media (max-width: $primary-breakpoint) {
            font-size: 0.8rem;
            .smallPart { font-size: 0.4rem; }
        }
    }

    td:nth-child(1) {
        white-space: nowrap;
        font-weight: bold;
    }

    td:nth-child(2), td:nth-child(3) {
        text-align: right;
        word-break: break-all;
    }


}