@import '../../style/variables';

.infosBlock {
    grid-area: infos;
}

.h2Infos {
    text-align: left;
    font-weight: bold;
    word-break: break-all;
}

.headerBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .img {
        text-align: center;
        padding: 0.4rem;
        max-width: 100px;

        img {
            width: 100%;
        }
    }
    
    .tblInfos {        
        .website, .email {
            word-break: break-all;
        }

        tbody tr {
            border: none;
        }
    
        td:nth-child(1) {
            width: 1%;
            white-space: nowrap;
            vertical-align: top;
        }

        td:nth-child(2) {
            word-break: break-word;
        }
    }
}


