@import '../../style/variables';

.burnBlock {
    grid-area: burn;

    font-size: 0.9rem;
    text-align: center;

    .burnDiv {
        overflow-x: auto;
        
        @media (max-width: $primary-breakpoint) {
            max-width: calc(100vw - 2.6rem);
            font-size: 0.9rem;
        }
    }
}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
    text-align: center;
}

.addressesGrid {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .addressLabel {
        text-align: left;
        min-width: 360px;
    }
}