@import '../../style/variables';

.h2burn {
    margin-bottom: 0;
}

.burnBlock {
    grid-area: burn;

    font-size: 0.9rem;
    text-align: center;
}

.burnDiv {
    overflow-x: auto;

    @media (max-width: $primary-breakpoint) {
        max-width: calc(100vw - 3.8rem);        // Préférable sur "PC"
        @media (max-width: 600px) {
            max-width: calc(100vw - 2.4rem);     // Mais celui-là mieux sur mobile, car "barre de scroll toute fine"
        }
            // Amélioration possible : mettre en place une barre de scroll fine, systématiquement
    }

    .tblOfLastBurns {
    
        th:nth-child(2) {
            text-align: right;
        }

        th:nth-child(4) {
            text-align: center;
        }


        td {
            width: 1%;
            white-space: nowrap;
        }

        td:nth-child(2) {
            text-align: right;
            padding-inline: 0.4rem;
            img {
                vertical-align: middle;
                margin-left: 0.2rem;
                height: 0.9rem;
                @media (max-width: $primary-breakpoint) {
                    height: 0.8rem;
                }
            }
        }

        td:nth-child(4) {
            text-align: center;
            svg {
                margin-top: 0.4rem;
            }
        }

        td:nth-child(5) {
            width: auto;
        }

        @media (max-width: 480px) {
            td, th {
                font-size: 0.7rem;
            }
        }
    
    }
}


.comments {
    font-size: 0.7rem;
    padding-bottom: 0.4rem;
    text-align: center;
}