@import '../../style/variables';

.h2blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .liveview {
        font-size: 0.6em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-top: 0.2rem;
    }
}

.tblListOfBlocks {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead tr {
        background-color: var(--head-table-line-fill-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--even-table-line-fill-color);
    }
    
    td, th {
        padding: 0.2rem 0.2rem;
        text-align: left;
        font-size: 0.9rem;
        @media (max-width: $primary-breakpoint) {
            font-size: 0.8rem;
        }
    }

    td:nth-child(2) {
        text-align: center;
    }

    td:nth-child(3) a {
        word-break: break-word;
    }

    td:nth-child(4) {
        white-space: nowrap;
        @media (max-width: 1200px) {
            white-space: normal;
        }
    }

}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
}