@import '../../style/variables';

.accountsBlock {
    grid-area: accounts;
}

.accountsBlock {

    font-size: 1rem;
    @media (max-width: $primary-breakpoint) {
        font-size: 0.9rem;
    }

    a {
        word-break: break-all;
    }
}