@import '../../style/variables';

.overviews {
    font-size: 0.9rem;

    .boxed {
        background-color: var(--boxed-fill-color);
        padding: 0.2rem 0.2rem;
    }

    .descThenValue {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
    }
    
    .progressbartbl {
        font-size: 0.8rem;
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
    
        .progressbartext {
            padding-right: 0.4rem;
        }
    
        .progressbarcontent {
            width: 100%;
    
            .progressbar {
                background-color: var(--unprimary-fill);
                border: 1px solid var(--outline-box-color);
                
                .barre {
                    width: 0%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--primary-text-color-on-fill);
                    background-color: var(--primary-fill);
                    height: 100%;
        
                    span {
                        font-size: 0.6rem;
                        @media (max-width: $primary-breakpoint) {
                            font-weight: bold;
                        }
                    }
                }
            }      
        }
    }
}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
    text-align: center;
}
