
.suppliesBlock {
    grid-area: supplies;
}

.totalSupplyH2 {
    white-space: normal!important;
}

.tblTotalSupplies {
    
    td:nth-child(2) {
        text-align: right;
        white-space: nowrap;
    }
    
    .coinMajeur td {
        font-weight: bold;
        font-size: 1rem;
    }
    
    .coinMineur td {
        font-size: 0.8rem;
    }       
}