@import '../../style/variables';

.blocksBlock {
    grid-area: blocks;
}

.h2blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .liveview {
        font-size: 0.6em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-top: 0.2rem;
    }
}

.tblListOfBlocks {

    th:nth-child(4) {
        text-align: right;
    }

    td:nth-child(2) {
        text-align: center;
    }

    td:nth-child(3) a {
        word-break: break-word;
    }

    td:nth-child(4) {
        white-space: nowrap;
        text-align: right;
        @media (max-width: 1200px) {
            white-space: normal;
        }
    }

}

.comments {
    font-size: 0.7rem;
    padding-top: 1rem;
}