@import '../../style/variables';

.h2burn {
    margin-bottom: 0;
}

.burnBlock {
    grid-area: burn;

    font-size: 0.9rem;
    text-align: center;
}

.burnDiv {
    min-height: calc(100vh * 0.4);
    max-height: calc(100vh * 0.4);
    overflow-x: auto;

    @media (max-width: $primary-breakpoint) {
        max-width: calc(100vw - 3.8rem);        // Préférable sur "PC"
        @media (max-width: 600px) {
            max-width: calc(100vw - 2.4rem);     // Mais celui-là mieux sur mobile, car "barre de scroll toute fine"
        }
            // Amélioration possible : mettre en place une barre de scroll fine, systématiquement
    }

    .tblOfLastBurns {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        text-align: left;
    
        thead tr {
            background-color: var(--head-table-line-fill-color);
        }
    
        tbody tr:nth-child(odd) {
            background-color: var(--even-table-line-fill-color);
        }
    
        th {
            text-align: center;
        }

        th:nth-child(5), th:nth-child(6) {
            text-align: left;
        }

        td, th {
            padding: 0.2rem 0.2rem;
            font-size: 0.9rem;
        }

        td:nth-child(1) {
            white-space: nowrap;
        }

        td:nth-child(3) {
            text-align: right;
        }
    
    }
}


.comments {
    font-size: 0.7rem;
    padding-bottom: 0.4rem;
    text-align: center;
}