.content {

    padding: 0.4rem 0.6rem;
    
    .tblListOfBlocks {
        width: 100%;
        border-spacing: 0;
    
        thead tr {
            background-color: var(--head-table-line-fill-color);
        }
    
        tbody tr:nth-child(odd) {
            background-color: var(--even-table-line-fill-color);
        }
        
        td, th {
            padding: 0.2rem 0.6rem;
            text-align: left;
        }    
    }
}

