.homepage {
    
    h1 {
        svg, span {
            vertical-align: middle
        }
        svg {
            margin-right: 0.2rem;
        }
    }
    
    .datetimeupdate {
        font-size: 0.7rem;
        font-style: italic;
    }
    
    .tbl421 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    h2 {
        text-align: center;
        padding-bottom: 1rem;
        white-space: nowrap;
        font-weight: normal;

        svg, span {
            vertical-align: middle;
        }
        svg {
            margin-right: 0.4rem;
        }
    }

}