.homepage {
    
    h1 {
        font-weight: 300;

        svg, span {
            vertical-align: middle
        }
        svg {
            margin-right: 0.6rem;
        }
    }
    
    .datetimeupdate {
        font-size: 0.7rem;
        font-style: italic;
    }
    
    .tbl13 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }

    .tbl31 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }

    .content {
        padding: 0.4rem 0.6rem;
    }

    h2 {
        text-align: center;
        padding-bottom: 1rem;
        white-space: nowrap;
        font-weight: normal;

        svg, span {
            vertical-align: middle;
        }
        svg {
            margin-right: 0.4rem;
        }
    }

}