.blocksHomepage {
    display: grid;
    grid-template-columns: 32% 33% 32%;
    grid-template-rows: auto;
    grid-template-areas:                // Config par défaut si écran entre 920 et 1024px, ou si supérieur à 1200px
        "search search search"
        "overview blocks blocks"
        "overview accounts accounts"
        "burn burn burn"
        "validators validators supplies";
    column-gap: 1rem;
    row-gap: 1rem;

    @media (min-width: 1024px) and (max-width: 1260px) {
        grid-template-columns: 33% 33% 31%;
        grid-template-areas:
            "search search search"
            "overview overview supplies"
            "blocks blocks blocks"
            "burn burn burn"
            "accounts accounts accounts"
            "validators validators validators";
    }
    @media (min-width: 600px) and (max-width: 1000px) {
        grid-template-columns: 27% 28% 40%;
        grid-template-areas:
            "search search search"
            "overview overview supplies"
            "blocks blocks blocks"
            "burn burn burn"
            "accounts accounts accounts"
            "validators validators validators";
    }
    @media (max-width: 600px) {
        grid-template-columns: 100%;
        grid-template-areas:
            "search"
            "overview"
            "blocks"
            "burn"
            "accounts"
            "validators"
            "supplies";
    }

}

