.tblListOfBlocks {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead tr {
        background-color: var(--head-table-line-fill-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--even-table-line-fill-color);
    }
    
    td, th {
        padding: 0.2rem 0.4rem;
        text-align: left;
    }

    td:last-child a {
        word-break: break-word;
    }


}

.comments {
    font-size: 0.7rem;
    padding-top: 0.4rem;
}