@import '../../style/variables';

.h2blocks {
    text-align: left;
    border-bottom: 1px solid var(--outline-box-color);
}

.note {
    font-size: 0.9rem;
}


.burnDiv {
    overflow-x: auto;

    // Si hauteur limitée souhaitée :
    // ==============================
    // height: calc(100vh * 0.6);
    // overflow-y: auto;

    @media (max-width: $primary-breakpoint) {
        max-width: calc(100vw - 2.4rem);
    }

    .tblOfLastBurns {
        th {
            text-align: center;
        }

        th:nth-child(5), th:nth-child(6) {
            text-align: left;
        }

        td:nth-child(1) {
            white-space: nowrap;
        }

        td:nth-child(3) {
            text-align: right;
        }
    }
}


