@import '../../style/variables';

.h2blocks {
    text-align: left;
    border-bottom: 1px solid var(--outline-box-color);
}

.note {
    font-size: 0.9rem;
}


.burnDiv {
    max-width: calc(100vw - 4rem);
    overflow: auto;

    @media (max-width: $primary-breakpoint) {
        max-width: calc(100vw - 2.4rem);
    }

    .tblOfLastBurns {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        text-align: left;
    
        thead tr {
            background-color: var(--head-table-line-fill-color);
        }
    
        tbody tr:nth-child(odd) {
            background-color: var(--even-table-line-fill-color);
        }
    
        th {
            text-align: center;
        }
        
        td, th {
            padding: 0.2rem 0.2rem;
            font-size: 0.85rem;
            @media (max-width: 1200px) {
                font-size: 0.8rem;
                @media (max-width: 1200px) {
                    font-size: 0.75rem;
                    @media (max-width: 600px) {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        
        td:nth-child(4) a {
            word-break: break-word;
        }
    
        td:nth-child(3) {
            text-align: right;
        }
    }
}


