@import './variables';

// Current Colors (sombre, initialement, pour ne pas flasher avec un écran blanc, avant "sélection du bon thème")
:root {
    --background-color: #{$darkTheme_backgroundColor};
        --primary-fill: #{$lightTheme_primaryFill};
        --secondary-fill: #{$lightTheme_secondaryFill};
        --tertiary-fill: #{$lightTheme_tertiaryFill};
    --primary-text-color: #{$darkTheme_primaryFontColor};
    --secondary-text-color: #{$darkTheme_secondaryFontColor};
        --primary-text-color-on-fill: #{$lightTheme_primaryFontColorOnFill};
    --link-color: #{$darkTheme_linkColor};
    --error-color: #{$darkTheme_errorColor};
    --success-color: #{$darkTheme_successColor};
}

// Switch de couleurs, si changement de thème (vers le thème plus clair)
[data-theme="light"] {
    --background-color: #{$lightTheme_backgroundColor};
    --primary-text-color: #{$lightTheme_primaryFontColor};
    --secondary-text-color: #{$lightTheme_secondaryFontColor};
    --link-color: #{$lightTheme_linkColor};
    --error-color: #{$lightTheme_errorColor};
    --success-color: #{$lightTheme_successColor};
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

a, .colore {
    color: var(--link-color);
}

.erreur {
    color: var(--error-color);
}

.succes {
    color: var(--success-color);
}