@import './variables';

// Current Colors (sombre, initialement, pour ne pas flasher avec un écran blanc, avant "sélection du bon thème")
:root {
    --background-color: #{$darkTheme_backgroundColor};
        --primary-fill: #{$darkTheme_sidebarPrimaryFill};
        --secondary-fill: #{$darkTheme_sidebarSecondaryFill};
        --tertiary-fill: #{$darkTheme_sidebarTertiaryFill};
        --unprimary-fill: #{$darkTheme_unprimaryFillColor};
    --primary-text-color: #{$darkTheme_primaryFontColor};
    --secondary-text-color: #{$darkTheme_secondaryFontColor};
        --primary-text-color-on-fill: #{$darkTheme_primaryFontColorOnSidebarFill};
    --brillant-text-color: #{$darkTheme_brillantTextColor};
    --brillant-fill-color: #{$darkTheme_backgroundColor};
    --link-color: #{$darkTheme_linkColor};
    --error-color: #{$darkTheme_errorColor};
    --success-color: #{$darkTheme_successColor};
    // --link-weight: normal;
    --outline-box-color: #{$darkTheme_outlineBoxColor};
    --even-table-line-fill-color: #{$darkTheme_evenTableLineFillColor};
    --head-table-line-fill-color: #{$darkTheme_headTableLineFillColor};
    --boxed-fill-color: #{$darkTheme_boxerFillColor};
}

// Switch de couleurs, si changement de thème (vers le thème plus clair)
[data-theme="light"] {
    --background-color: #{$lightTheme_backgroundColor};
        --primary-fill: #{$lightTheme_sidebarPrimaryFill};
        --secondary-fill: #{$lightTheme_sidebarSecondaryFill};
        --tertiary-fill: #{$lightTheme_sidebarTertiaryFill};
        --unprimary-fill: #{$lightTheme_unprimaryFillColor};
    --primary-text-color: #{$lightTheme_primaryFontColor};
    --secondary-text-color: #{$lightTheme_secondaryFontColor};
        --primary-text-color-on-fill: #{$lightTheme_primaryFontColorOnSidebarFill};
    --brillant-text-color: #{$lightTheme_primaryFontColor};
    --brillant-fill-color: #{$lightTheme_brillantFillColor};
    --link-color: #{$lightTheme_linkColor};
    --error-color: #{$lightTheme_errorColor};
    --success-color: #{$lightTheme_successColor};
    // --link-weight: bold;
    --outline-box-color: #{$lightTheme_outlineBoxColor};
    --even-table-line-fill-color: #{$lightTheme_evenTableLineFillColor};
    --head-table-line-fill-color: #{$lightTheme_headTableLineFillColor};
    --boxed-fill-color: #{$lightTheme_boxerFillColor};
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

a, .colore {
    color: var(--link-color);
    // font-weight: var(--link-weight);
}

.textBrillant {
    color: var(--brillant-text-color);
    background-color: var(--brillant-fill-color);
}

.erreur {
    color: var(--error-color);
}

.succes {
    color: var(--success-color);
}

.barVoteYes { background-color: #10B080; }
.barVoteAbstain { background-color: #4070F0; }
.barVoteNo { background-color: #F04040; }
.barVoteNowithveto { background-color: #F09000; }

.textVoteYes { color: #10B080; }
.textVoteAbstain { color: #4070F0; }
.textVoteNo { color: #F04040; }
.textVoteNowithveto { color: #F09000; }
