* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: all 0.5s ease-in-out;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button, .pointeur {
    cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}


// Clear the 'X' in input-search, from Internet Explorer
input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
// clears the 'X' in input-search,  from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.boxContainer {
    border: 1px solid var(--outline-box-color);
    -webkit-box-shadow: 1px 1px 8px 1px var(--outline-box-color); 
    box-shadow: 1px 1px 8px 1px var(--outline-box-color);
    padding: 0.4rem 0.6rem;
    background-color: var(--background-color);
}

h1 {
    font-weight: 300;

    svg, span {
        vertical-align: middle
    }
    svg {
        margin-right: 0.6rem;
    }
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    white-space: nowrap;
    font-weight: normal;

}
h2, .h2like {
    margin-bottom: 1rem;
    svg, span {
        vertical-align: middle;
    }
    svg {
        margin-right: 0.4rem;
    }
}

.tblHide { display: none; }
.nomargin { margin: 0; }


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 0.1rem;
    padding-top: 0.4rem;
    font-size: 0.9rem;
    cursor: pointer;

    span {
        padding: 0.2rem 0.6rem;
        border-radius: 2px;
    }

    .paginationPageSelected {
        color: var(--pagination-page-number-text-color);
        background-color: var(--pagination-selected-page-fill-color);
    }

    .paginationPageUnselected {
        color: var(--pagination-page-number-text-color);
        background-color: var(--pagination-unselected-page-fill-color);
    }
}

.annonce {
    background-color : var(--green-annonce-fill-color);
    border : 1px solid var(--green-annonce-border-color);
    color : var(--green-annonce-text-color);
    border-radius : 4px;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    min-height: 3.2rem;
    vertical-align: bottom;

    .annonce_image {
        float: left;
        height: 2.2rem;
        padding-right: 0.6rem;
    }

    a {
        font-weight: bold;
        color: var(--green-annonce-link-color);
    }

}

.textBrillant {
    color: var(--brillant-text-color);
    background-color: var(--brillant-fill-color);
    padding: 0.4rem 0.6rem;
    border-radius : 6px;
}

.errorBlock {
    color: var(--error-color);
    background-color: yellow;
    padding: 0.4rem 0.6rem;
}

.partieEntiere {
    font-weight: 700;
}
.partieDecimale {
    font-size: 0.7em;
    font-weight: 600;
}


.failed, .jailed, .active {
    font-size: 0.9em;
    color: white;
    border-radius: 8px;
    font-weight: 600;
}
.failed {
    padding: 0rem 0.2rem 0.1rem 0.2rem;
    background-color: var(--red-color);
}
.jailed {
    padding: 0rem 0.3rem 0.1rem 0.4rem;
    background-color: var(--red-color);
}
.active {
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    background-color: var(--green-color);
}




.styledBlocContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2.4rem;

    .styledBlocContent {
        border: 1px solid var(--light-outline-box-color);
        background-color: var(--boxed-fill-color1);
        padding: 0.4rem 0.6rem;
        padding-bottom: 1.4rem;
        border-radius: 2px;

        .styledMessage {
            padding: 0.8rem;
            padding-top: 0rem;
        }

        .styledBlocTitleContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .styledBlocTitleText, .styledBlocBtns {
                font-size: 1rem;
                position: relative;
                top: -1.2rem;
            }
            .styledBlocTitleText {
                color: white;
                padding: 0.1rem 0.6rem;
                border-top-left-radius: 8px;
                border-bottom-right-radius: 6px;
            }
            .styledBlocBtns {
                display: flex;
                gap: 0.15rem;
                
                button {
                    border: none;
                    background-color: var(--arrow-nav-fill-color);
                    color: var(--arrow-nav-text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        margin: 0.4rem 0.4rem;
                    }
                }

                button:nth-child(1) {
                    border-top-left-radius: 6px;
                }
                button:nth-child(2) {
                    border-top-right-radius: 6px;
                }
            }

            .styledBlueBlock { background-color: var(--blue-color); }
            .styledRedBlock { background-color: var(--red-color); }
            .styledGreenBlock { background-color: var(--green-color); }
            .styledOrangeBlock { background-color: var(--orange-color); }
            .styledVioletBlock { background-color: var(--violet-color); }
            .styledBrownBlock { background-color: var(--brown-color); }
            .styledTurquoiseBlock { background-color: var(--turquoise-color); }

            .styledMessageBlock {
                padding: 0.8rem;
                padding-top: 0rem;
            }
        }

    }
}