@import './variables';

:root {
    font-size: 16px;            // Taille de référence, pour tout le site (ici, 1rem vaudra alors 16px, 2rem 32px, etc...)
    min-width: 300px;
}

h1 {
    font-size: 2rem;
    @media (max-width: $secondary-breakpoint) {
        font-size: 1.8rem;
    }
}

p {
    font-size: 1rem;
    @media (max-width: $secondary-breakpoint) {
        font-size: 0.9rem;
    }
}

.comment {
    font-size: 0.9rem;
    @media (max-width: $secondary-breakpoint) {
        font-size: 0.86rem;
    }
}
