// Light Theme Colors
$lightTheme_backgroundColor: #F1F1F1;
$lightTheme_primaryFontColor: #333333;
$lightTheme_secondaryFontColor: #555555;
$lightTheme_linkColor: orange;
$lightTheme_errorColor: red;
$lightTheme_successColor: green;

// Dark Theme Colors
$darkTheme_backgroundColor: #141418;
$darkTheme_primaryFontColor: white;
$darkTheme_secondaryFontColor: #C1C1C1;
$darkTheme_linkColor: gold;
$darkTheme_errorColor: red;    
$darkTheme_successColor: green;

// Largeurs
$breakpoint: 600px;             // Moment à partir duquel on passe d'un "menu latéral gauche" à un "burger menu"
$sidebar-width: 250px;          // Largeur du "menu latéral gauche", lorsque visible