// Light Theme Colors
$lightTheme_backgroundColor: #F1F1F1;
    $lightTheme_sidebarPrimaryFill: #EE7C00;
    $lightTheme_sidebarSecondaryFill: #C46500;
    $lightTheme_sidebarTertiaryFill: #502600;
    $lightTheme_unprimaryFillColor: #E0E0E0;
$lightTheme_primaryFontColor: #303030;
$lightTheme_secondaryFontColor: #606060;
    $lightTheme_primaryFontColorOnSidebarFill: #F1F1F1;
$lightTheme_linkColor: #e67300;
$lightTheme_errorColor: red;
$lightTheme_successColor: green;
$lightTheme_outlineBoxColor: #B0B0B0;
$lightTheme_evenTableLineFillColor: #E0E0E0;
$lightTheme_headTableLineFillColor: #C0C0C0;


// Dark Theme Colors
$darkTheme_backgroundColor: #141418;
    $darkTheme_sidebarPrimaryFill: #EE7C00;
    $darkTheme_sidebarSecondaryFill: #C46500;
    $darkTheme_sidebarTertiaryFill: #502600;
    $darkTheme_unprimaryFillColor: #282828;
$darkTheme_primaryFontColor: white;
$darkTheme_secondaryFontColor: #C1C1C1;
    $darkTheme_primaryFontColorOnSidebarFill: #F1F1F1;
$darkTheme_linkColor: orange;
$darkTheme_errorColor: red;    
$darkTheme_successColor: green;
$darkTheme_outlineBoxColor: #606060;
$darkTheme_evenTableLineFillColor: #282828;
$darkTheme_headTableLineFillColor: #444444;

// Largeurs
$primary-breakpoint: 1024px;        // Moment à partir duquel on passe d'un "menu latéral gauche" à un "burger menu"
$secondary-breakpoint: 768px;       // Moment à partir duquel on affiche que des blocs "full width", et on rapetisse un poil les éléments
$sidebar-width: 250px;              // Largeur du "menu latéral gauche", lorsque visible

// Hauteurs
$appbar-height: 3rem;