// Light Theme Colors
$lightTheme_backgroundColor: #F1F1F1;
    $lightTheme_sidebarPrimaryFill: #0072EE;
    $lightTheme_sidebarSecondaryFill: #005FC4;
    $lightTheme_sidebarTertiaryFill: #002A50;
    $lightTheme_unprimaryFillColor: #E0E0E0;
$lightTheme_primaryFontColor: #202060;
$lightTheme_secondaryFontColor: #606060;
    $lightTheme_primaryFontColorOnSidebarFill: #F1F1F1;
$lightTheme_linkColor: #0073FF;
$lightTheme_errorColor: red;
$lightTheme_successColor: #00AA55;
$lightTheme_outlineBoxColor: #B0B0B0;
$lightTheme_lightOutlineBoxColor: #D0D0D0;
$lightTheme_evenTableLineFillColor: #E0E0E0;
$lightTheme_headTableLineFillColor: #C0C0C0;
$lightTheme_boxedFillColor1: #E8E8F8;
$lightTheme_boxedFillColor2: #DEDEF8;
$lightTheme_brillantFillColor: #D1D1FF;
$lightTheme_brillantTextColor: #404090;
$lightTheme_paginationSelectedPageFillColor: #002A50;
$lightTheme_paginationUnselectedPageFillColor: #056AB0;
$lightTheme_paginationPageNumberTextColor: #F1F1F1;
$lightTheme_arrowNavFillColor: #606060;
$lightTheme_arrowNavTextColor: #E1E1E1;
$lightTheme_greenAnnonceBorderColor: #A0D1BA;
$lightTheme_greenAnnonceFillColor: #D0E8DD;
$lightTheme_greenAnnonceTextColor: #0A6644;
$lightTheme_greenAnnonceLinkColor: #0073FF;

// Dark Theme Colors
$darkTheme_backgroundColor: #181822;
    $darkTheme_sidebarPrimaryFill: #0072EE;
    $darkTheme_sidebarSecondaryFill: #005FC4;
    $darkTheme_sidebarTertiaryFill: #002A50;
    $darkTheme_unprimaryFillColor: #282828;
$darkTheme_primaryFontColor: white;
$darkTheme_secondaryFontColor: #C1C1C1;
    $darkTheme_primaryFontColorOnSidebarFill: #F1F1F1;
$darkTheme_linkColor: #50A0FF;  // old = 2DA0FF;
$darkTheme_errorColor: #E10000;    
$darkTheme_successColor: #00C900;
$darkTheme_outlineBoxColor: #606060;
$darkTheme_lightOutlineBoxColor: #404040;
$darkTheme_evenTableLineFillColor: #202030;
$darkTheme_headTableLineFillColor: #383848;
$darkTheme_boxedFillColor1: #202030;
$darkTheme_boxedFillColor2: #262636;
$darkTheme_brillantFillColor: #323242;
$darkTheme_brillantTextColor: #D1D1FF;
$darkTheme_paginationSelectedPageFillColor: #005FC4;
$darkTheme_paginationUnselectedPageFillColor: #103A60;
$darkTheme_paginationPageNumberTextColor: #F1F1F1;
$darkTheme_arrowNavFillColor: #404040;
$darkTheme_arrowNavTextColor: #E1E1E1;
$darkTheme_greenAnnonceBorderColor: #A0D1BA;
$darkTheme_greenAnnonceFillColor: #40C060;  // 20A040
$darkTheme_greenAnnonceTextColor: #F1F1F1;
$darkTheme_greenAnnonceLinkColor: #4040FF;

// Largeurs
$primary-breakpoint: 1024px;        // Moment à partir duquel on passe d'un "menu latéral gauche" à un "burger menu"
$secondary-breakpoint: 768px;       // Moment à partir duquel on affiche que des blocs "full width", et on rapetisse un poil les éléments
$sidebar-width: 250px;              // Largeur du "menu latéral gauche", lorsque visible

// Hauteurs
$appbar-height: 3rem;