//
$bgColor: #141418;
$fontColor: white;
$secondaryFontColor: #C1C1C1;
$linkColor: gold;
$errorColor: red;

html {
    background-color: $bgColor;
    color: $fontColor;
}

a, .colore {
    color: $linkColor;
}