* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    min-height: 100vh;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}


// Clear the 'X' in input-search, from Internet Explorer
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
// clears the 'X' in input-search,  from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }