
.animContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .cercle {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            position: absolute;
            width: 140px;
            height: 140px;
        }

        .texteAnimON {
            position: absolute;
            width: 100%;
            height: 100%;
            animation: rotateText 10s linear infinite;

            @keyframes rotateText {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            span {
                position: absolute;
                left: 50%;
                transform-origin: 0 100px;
            }
        }

        .texteAnimOFF {
            position: absolute;
            width: 100%;
            height: 100%;

            span {
                position: absolute;
                left: 50%;
                transform-origin: 0 100px;
            }
        }
    }

    .isError {
        padding: 2rem 1rem;
        text-align: center;

        .mainTextError {
            padding: 1rem 1rem;
        }

        .subTextError {
            padding: 1rem 0.8rem;
            font-size: 0.9em;
        }

    }
}
