@import '../style/variables';

$titleSize: 2rem;
$titleBlocHeight: 4.2rem;

#sidebar {
    display: block;                                 // Si largeur du viewport > breakpoint
    width: $sidebar-width;
    height: 100vh;
    color: var(--primary-text-color-on-fill);
    background: rgb(7,116,193);
    background: linear-gradient(135deg, rgba(7,116,193,1) 0%, rgba(1,61,103,1) 100%);

    @media (max-width: $primary-breakpoint) {
        display: none;                              // Si largeur du viewport <= breakpoint
        overflow: hidden;
        overflow-y: auto;
    }
}

#sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $titleBlocHeight;
    width: $sidebar-width;
    text-align: center;

    #sidebar-title-text {
        font-size: $titleSize;
        font-weight: 500;
        width: $sidebar-width;
        height: #{$titleBlocHeight};
        
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: var(--primary-text-color-on-fill);
            width: inherit;
            height: inherit;

            img {
                width: calc(#{$titleSize} * 1.2);
                margin-right: 0.6rem;
            }

        }
    }
    
}

#sidebar-content {
    background-color: transparent;
    max-height: calc(100vh - #{$titleBlocHeight});
    width: calc(#{$sidebar-width} + 10px);
    overflow-y: scroll;

    ul {
        border-top: 1px solid var(--primary-text-color-on-fill);
        border-bottom: 1px solid var(--primary-text-color-on-fill);

        li {
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.5rem 0.75rem;
                color: var(--primary-text-color-on-fill);
                font-size: 1.1rem;
                
                span {
                    transition: transform .25s,-webkit-transform .25s;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 0.6rem;
                    }
                }

                &:hover span {
                    transform: translateX(10px);
                }
            }
        }

        .sidebar_content_mnu_active {
            background-color: var(--tertiary-fill);
        }
        .sidebar_content_mnu_inactive {
            background: rgb(5,107,179);
            background: linear-gradient(90deg, rgba(1,61,103,1) 0%, rgba(5,107,179,1) 100%);
        }
    }

    .don {
        padding-top: 0.75rem;
        font-style: italic;
        text-align: center;
        font-size: 0.9rem;

        button {
            margin: 0.8rem;
            padding: 0.3rem 0.8rem;
            border: 1px solid var(--donate-btn-border-color);
            border-radius: 0.6rem;
            background-color: var(--donate-btn-fill-color);

            background: rgb(203,168,14);
            background: linear-gradient(90deg, rgba(226,212,7,1) 0%, rgba(203,168,14,1) 100%);

            font-weight: 600;
            color: var(--donate-btn-text-color);

            svg {
                vertical-align: middle;
                margin-right: 0.6rem;
                font-size: 1.6rem;
            }

            span {
                vertical-align: middle;
                font-size: 1rem;
            }
        }
    }
}


#sidebar-content::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
#sidebar-content::-webkit-scrollbar-thumb {
    background-color: transparent;
}
#sidebar-content:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #AAAAAA;
    border: 2px solid transparent;
    border-radius: 20px;
}

#sidebar-theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 1rem;

    svg {
        cursor: pointer;
    }
}