@import '../../style/variables';

.h2validators {
    text-align: left;
    border-bottom: 1px solid var(--outline-box-color);
}

.tblStaking {
    border-spacing: 0;
    border-collapse: collapse;
    
    td {
        padding: 0.2rem;
        @media (max-width: $primary-breakpoint) {
            font-size: 0.9rem;
        }
    }

    td:nth-child(1) {
        white-space: nowrap;
        vertical-align: top;
    }

    td:nth-child(2) {
        word-break: break-word;
    }

}

.stakingChart {
    max-width: 720px;
    @media (max-width: $primary-breakpoint) {
        max-width: 360px;
    }
}