@import '../../style/variables';

.pgStaking {

    display: flex;
    flex-direction: column;

    .tblStaking {
        width: fit-content;
    
        table {
            tbody tr {
                border: none;
            }
        
            td:nth-child(1) {
                white-space: nowrap;
                vertical-align: top;
            }
        
            td:nth-child(2) {
                word-break: break-word;
            }
        }
    
    }
    
    .stakingChart {
        max-width: 560px;
        @media (max-width: $primary-breakpoint) {
            max-width: 360px;
        }
    }
}
