@import '../../style/variables';

.transactionsBlock {
    grid-area: transactions;
}

.tblTransactions {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
    thead tr {
        background-color: var(--head-table-line-fill-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--even-table-line-fill-color);
    }
    
    td, th {
        padding: 0.2rem 0.4rem;
        font-size: 0.9rem;
        // .smallPart { font-size: 0.7rem; }

        @media (max-width: $primary-breakpoint) {
            font-size: 0.8rem;
            // .smallPart { font-size: 0.4rem; }
        }
    }

    td:nth-child(1), td:nth-child(4), td:nth-child(5) {
        text-align: left;
        word-break: break-all;
    }

    // td:nth-child(2) {
    //     text-align: right;
    //     white-space: nowrap;
    // }

    // td:nth-child(3) {
    //     text-align: right;
    // }
}
