@import '../../style/variables';

.tblInfos {

    tbody tr {
        border: none;
    }

    td:nth-child(1) {
        width: 1%;
        white-space: nowrap;
        font-weight: bold;
        vertical-align: top;
    }

    td:nth-child(2) {
        word-break: break-all;
    }

}

.tblTransactions {

    td:nth-child(1), td:nth-child(3), td:nth-child(4) {
        text-align: left;
        word-break: break-all;
    }
}